{
    "version": "2017-02-28",
    "operation": "GetItem",
    "key": {
        "partKey": $util.dynamodb.toDynamoDBJson($ctx.args.journeyId),
        "sortKey": $util.dynamodb.toDynamoDBJson("01_JOURNEY"),
    }
}